/* Flip around the padding for proper display in narrow viewports */
#MicrosoftTranslatorWidget {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	padding-left: 0;
	padding-right: 0;
	color: white;
}